body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*header Component*/
.headerDiv{
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    padding:10px 15px;
    margin-bottom: 15px;
}
.headerText{
  text-align:center;
  color:#1c633b;
}
.iconList{
  display:flex;  
  flex-direction: row;
  justify-content: flex-end;
}
.navText li a{
  color:#1c633b !important;
}
.navText li a.active{
  background-color: #1c633b !important;
  color:#fff !important;
}
.iconDiv{
  text-align:right;
}
.iconList li{
  margin-left:20px;
  list-style-type:none;
}
.productListArray{
    padding: 10px;
    border: solid 1px #000;
    margin: 9px;
    width: 23% !important;
}
.singleProduct{
    width:100%;
    text-align:center;
}
.productSampleImage{
    width: 14rem !important;
    height: 15rem;
    margin: auto;
}
.productPrice{
  padding-right: 0px!important;
  text-align: left;
  font-weight: 500;
  color: #1c633b;  
}
.btnDiv{
  padding-left: 0px !important;
  padding-right: 5px !important;
}
.addTocartBtn{
  background-color: #1c633b !important;
  border-color: #1c633b !important;
}
/*Filter Section*/
.filterArea{
  margin:15px;
}
.filterSection{
  margin-bottom:20px;
}
.filterText{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color:#1c633b;
}
  